#     --------------------------------
# GitIgnore file for all Zielino's projects
#     --------------------------------

# Node Modules
node_modules/

# Nuxt folder
.nuxt/

.nitro/

# Python cache
__pycache__/

# Cache
.cache/

# Lock files
*.lock
package-lock.json
pnpm-lock.yaml

# .vscode folder
.vscode/

# .idea folder
.idea/
*.iml

# Data folder
data/

# Databases
*.sqlite
*.db

# Configs
config.json

# ENV files
*.env

# Temp files
tests/temp.ts

# Logs
logs/
*.log

# Build folders
dist/
build/
target/
bin/
obj/

.output/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Images
images/
